@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: "Titillium Web",sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
}

@font-face {
  font-family: Network;
  src: url(/fonts/Network.ttf);
}

.font-neon {
  font-family: Neon;
}

.font-network {
  font-family: Network;
}

.font-salt {
  font-family: Rock Salt;
}

.font-impact {
  font-family: Impact, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.ts-none {
  text-shadow: none;
}

.ts-i {
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

.tstroke {
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.Toastify__toast-body {
  color: #fff;
}

.Toastify__toast {
  background: #204561 !important;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.bn-onboard-modal {
  z-index: 10;
}

@layer utilities {
  @variants responsive {
      .masonry {
          column-gap: 0;
          column-count: 3;
      }
      .masonry-md {
        column-gap: 0;
        column-count: 4;
      }

      .masonry-lg {
        column-gap: 0;
        column-count: 5;
      }
      .break-inside {
          break-inside: avoid;
      }

  }
}

.generator-content {
  min-height: 83vh;
}

.font-comic {
  font-family: Bangers;
}

.font-body {
  font-family: Titillium Web;
}

.font-network {
  font-family: Network;
}

.text-stroke-black {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.bg-memes {

}

.bg-memes::before {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: .4;
  content: "";
  z-index: -1;

  background: url('https://dai1hr2knmld8.cloudfront.net/bg/memes.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@keyframes logoSpin {
  50% {
    -webkit-transform: scaleX(-1); 
    transform:scaleX(-1); 
  }
  100% { 
      -webkit-transform: scaleX(1); 
      transform:scaleX(1); 
  } 
}

.logoSpinner {
  animation: spin 4s linear infinite;
}
